@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");

:root {
  --background: #f8f8f8;
  --outline: #eaeaea;
  --primary: #4465fc;
  --black: #000000;
  --white: #ffffff;
  --header: "Inter", sans-serif;
  --paragraph: "Inter", sans-serif;
  --accent: "Playfair Display", serif;
}

* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  font-smooth: always;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  cursor: default;
}

*::before, 
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

html, 
body {
  overflow-x: hidden !important;
  padding: 0 !important;
  margin: 0 !important;
}

body {
  background: var(--background);
}

a:hover, 
a:hover * {
  cursor: pointer !important;
}

h1, h2, h3, h4, h5, h6, p, ul, ol, span, a, button {
  font-family: var(--paragraph);
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 48px;
  text-align: center;
  margin: 25px 0 10px 0;
  font-family: var(--accent);
}

h1 span {
  font-family: var(--accent);
}

h2 {
  font-size: 36px;
  margin-bottom: 25px;
}

p {
  padding-bottom: 20px;
  line-height: 1.5;
}

a {
  color: var(--black);
  text-decoration: none;
}

body {
  min-height: 100vh;
  align-content: center;
}

header {
  text-align: center;
}

header p {
  font-size: 15px;
}

.demo {
  width: 800px;
  max-width: 100%;
  margin: auto;
  padding: 10px;
}

#input {
  display: flex;
  gap: 5px;
  margin-bottom: 20px;
}

#input > div {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

#input > div.actions {
  flex: .3;
}

#userInput {
  padding: 15px;
  border-radius: 10px;
  border: 1px solid;
  height: 346px;
  font-family: var(--paragraph);
  font-size: 16px;
}

#userInput:hover {
  cursor: pointer;
}

#output {
  height: 150px;
  width: 100%;
  margin-bottom: 20px;
  border-radius: 10px;
  padding: 15px;
  overflow-y: scroll;
  scrollbar-width: auto;
  scrollbar-color: rgba(0, 0, 0, 0.3) transparent;
  background-color: rgba(255, 255, 255, .5);
  border: 1px solid var(--outline);
  font-family: var(--paragraph);
}

#output::-webkit-scrollbar {
  width: 8px;
}

#output::-webkit-scrollbar-track {
  background: transparent;
}

#output::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 4px;
}

.view-image {
  padding: 15px;
  border-radius: 10px;
  min-height: 346px;
  background-image: url("../image-placeholder.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgba(255, 255, 255, .25);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0 0 0 0);
  border: 0;
}

.cred {
  text-align: center;
  margin: 20px;
}

.cred span {
  font-size: 14px;
}


.btn, button {
  display: inline-block;
  border: 1px solid var(--outline);
  background-color: var(--white);
  border-radius: 25px;
  padding: 8px 25px;
  transition: all 0.25s;
  color: var(--black);
}

.btn:hover, button:hover {
  border: 1px solid var(--primary);
  background-color: var(--primary);
  color: var(--white);
  cursor: pointer;
}

.btn-black {
  border: 1px solid var(--black);
  background-color: var(--black);
  color: var(--white);
}

.btn-black:hover {
  border: 1px solid var(--primary);
  background-color: var(--primary);
  color: var(--white);
}

.btn-primary {
  border: 1px solid var(--primary);
  background-color: var(--primary);
  color: var(--white);
  margin-bottom: 15px;
}

.btn-primary:hover {
  border: 1px solid var(--primary);
  background-color: var(--white);
  color: var(--primary);
}

.btn-black.btn-opac {
  opacity: .5;
}

.btn-black.btn-opac:hover {
  opacity: 1;
  border: 1px solid var(--black);
  background: var(--black);
}